/* BODY */

html, body {
    -webkit-user-select: none;
    height: 100%;
    background: #ff581a;
    margin: 0;
    padding: 0;
    color: #fff;
    text-align: center;
    font-family: sans-serif;
    font-size: 36px;
}


/* HEADER AND SEPARATOR */

.hover {
    width: 100%;
    position: absolute;
    z-index: 1;
}

.header {
    display: flex;
    height: auto;
    width: 100%;
    background: #ff4500;
}

.heading {
    flex: 1 1;
}

p {
    font-weight: bold;
    text-decoration: underline;
}

.separator {
    display: flex;
    height: 5px;
    background: #fff;
}


/* CIRCLE */

.center-container {
    display: flex;
    height: 100%;
    width: 100%;
}

.circle {
    display: block;
    margin: auto;
    background-color: #fff;
    border-radius: 50%;
    height: 220px;
    width: 220px;
}

h1 {
    color: #ff4500;
    font-size: 100px;
    padding: 55px 0;
    margin: auto;
}
